# zsh
# —————————————————————————
alias reload=". ~/.zshrc"

# tmux
# —————————————————————————
# tab completion can be used to view and attach existing sessions
alias tma="tmux attach -d -t"
alias kat="killall tmux"

# macos
# —————————————————————————
# show / hide system files in finder
show="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# —————————————————————————
# tramtracker ruby gem - display timetables
alias tram-home="tramtracker 3401"
alias tram-city="tramtracker 1362"

# dotfiles git alias
alias .cfg="/usr/bin/git --git-dir=/Users/cockatoo/.cfg/ --work-tree=/Users/cockatoo"

# make grep more user friendly by highlighting matches
alias grep="grep --color=auto"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

