# ZSH
# —————————————————————————

# reload zsh settings and restart powerline daemon
alias reload=". ~/.zshrc; powerline-daemon --replace"

# TMUX
# —————————————————————————

# tab completion can be used to view and attach existing sessions
alias tma="tmux attach -d -t"
alias kat="killall tmux"

# MACOS
# —————————————————————————

# show / hide system files in finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# colourise terminal text output
alias cat="pygmentize -g"

# DOTFILES
# —————————————————————————

# dotfiles git alias
alias .cfg="/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

# SYS CONFIG
# —————————————————————————

# make grep more user friendly by highlighting matches
alias grep="grep --color=auto"

# cd easier
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# GENERAL
# —————————————————————————

# tramtracker
alias tram_city="tramtracker 3401"
alias tram_fitz="tramtracker 1362"
